[Unit]
Description=guider application# Meta data about the application
After=network.target

[Service]
ExecStart=/home/guider/Project/Telescope_Guider/solverServer/.venv/bin/python /home/guider/Project/Telescope_Guider/solverServer/solveServer.py
Restart=always #restart the application when it crashes
RestartSec=10

[Install]
WantedBy=multi-user.target
